@import url('reset.css');
/* reset end */

header{
    width: 100%;
    height: 100px;
    background-color: #333;
    display: flex;
    align-items: center;
}
header .logo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .logo h1{
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
}

header nav {
    width: 70%;
}
header nav ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}
header nav ul li{
    transition: .5s;
    width: 100px;
    height: 30px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav ul li:hover{
    cursor: pointer;
    background-color: #fff;

}
header nav ul li:hover a{
    color: #333;
}

header nav ul li a {
    color: #fff;

}



/* .box{
    width: 100px;
    height: 100px;
    background-color: red;
}
.box:hover{
    width: 200px;
    background-color: green;
} */