.bg-recprop{
    height: auto;
    background-image:url('../img/bg-white-3.png') ;
}


.hero{
    width: 100%;
    height: 90vh;
    background-size:cover ;
    background-image:url('../img/video-poster2.png') ;
}
@media (max-width:600px) {
    .hero{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}