body{
    height: 200vh;
}
.wrapper{
    position: absolute;
    bottom: 0;
}

header{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    ul{
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: black;
                font-size: 25px;
                font-family: sans-serif;
            }
        }
    }
}


.show{
    height: 400px;
    transform: translate(0);
    transition: 1s;
    // *{
    //     display: block;
    // }
}

.hide{
    height: 0px;

    transform: translate(-500px);
    transition: 1s;
    // *{
    //     display: none;
    // }
}

.a{
    color: blue;
}
.b{
    font-size: 25px;
    font-family: sans-serif;
}